@page "/languageslist"

@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h2>Programming Languages</h2>

<p>
    <a href="/addlanguage">Create new language</a>
</p>


@if (languages == null)
{
    <text>Cargando datos ...</text>

    <p><em>Loading ...</em></p>
}
else
{
    <Table languages="languages"/>

@*    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>WebSite</th>
                <th>Extensions</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lang in languages)
            {
                <tr>
                    <td>@lang.Name</td>
                    <td>@lang.WebSite</td>
                    <td>@lang.Extensions</td>
                    <td><a href="/editlanguage/@lang.Id">Edit</a></td>
                    <td><a href="/deletelanguage/@lang.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
*@}

@code {
    List<Programming> languages;
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(2000); //2 segs.

        // Consumir datos Json desde una WebAPI
        // https://localhost:44321/languages/ es la direccion del API
        //languages = await HttpClient.GetFromJsonAsync<List<Programming>>("https://localhost:44321/languages/");
        
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/languageHub"))
            .Build();

        hubConnection.On("ReceiveMessage", () =>
        {
            CallGetAllLanguages();
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        await GetAllLanguages();
    }

    private void CallGetAllLanguages()
    {
        Task.Run(async () =>
        {
            await GetAllLanguages();
        });
    }

    protected async Task GetAllLanguages()
    {
        languages = await HttpClient.GetFromJsonAsync<List<Programming>>("api/programmings");
        StateHasChanged();
    }

    public void Dispose()
    {
        //_ = hubConnection.DisposeAsync();
        hubConnection.DisposeAsync();
    }
}
