    <table class="table table-sm table-striped">
        <TableEncabezado/>
        <TableBody languages="languages"/>
    </table>


@code {
    [Parameter]
    public List<Programming> languages { get; set; }

}
